<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message received:</h1>
    <p>
      Sample mail sent using smtp.
    </p>
    <!-- create message with ul/li -->
  </body>
</html>
